body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #000; /* Black background */
  /*color: #fff; /* White text */
  overflow-x: hidden;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
  position: relative;
}

header {
  background-color: black;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  font-size: 0.9em;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

footer {
  background-color: black;
  color: white;
  padding: 40px 20px;
  line-height: 1.5;
  font-size: 14px;
}

footer h3 {
  font-weight: bold;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.card-icon {
  font-size: 2rem;
  color: #007bff;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card {
  text-align: center;
  padding: 20px;
}
